@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --black: #0D0D0D;
    --white: #F8F8F8;
    --grey: #F2F2F2;
    --dark-green: #4E7317;
    --neo-green: #B2F252;
    --light-green: #CBF291;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    border: none;
    background-color: transparent;
    outline: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Afacad Flux", serif;
    text-transform: uppercase;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--light-green);
}

.row{
    background-color:var(--black);
    width: 15rem;
    -webkit-box-shadow: 4px 3px 5px -4px rgba(203,242,145,0.65);
    -moz-box-shadow: 4px 3px 5px -4px rgba(203,242,145,0.65);
    box-shadow: 4px 3px 5px -4px rgba(203,242,145,0.65);
}

#users{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    flex-direction: column;
    height: 100vh; 
    padding: 2rem 4rem 2rem 0;
}


#users nav{
    background-color: #fff;
    border-radius: 5px;
    padding: .5rem 1rem;
}

#users nav button{
    background-color: var(--light-green);
    border-radius: 5px;
    color: var(--dark-green);
    font-weight: 700;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

#users  table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 10px; 
    overflow: hidden;
}

#users  table  thead th{
    color: var(--neo-green);
}


